body {
  margin: 5px;
}

div#main {
  text-align: center;
}

div.content-container {
  width: 800px;
  height: 600px;
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
}

.clickable {
  cursor: pointer;
}

ul.none {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.needsWork {
  color: red;
  font-style: italic;
}

ul.nobullets li {
  list-style: none;
}

ul.none li {
  display: inline-block;
  border: none;
  padding: 0.5em;
  margin: 0 2px;
}

ul.blocky li {
  font-size: 18pt;
  display: inline-block;
  border: 1px solid gray;
  padding: 0.4em;
  margin: 2px;
}

.no-display {
  display: none !important;
}

.nav-el {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #cee;
}

@media screen and (max-width: 800px) {
  div.content-container {
    width: 640px;
    height: 480px;
  }
}

@media screen and (max-width: 640px) {
  div.content-container {
    width: 320px;
    height: 240px;
  }
}
