<div id="freeplay-container" class="content-container">
  <div ng-repeat="supergroup in levels.root().children()" class="supergroup">
    <div class="title-supergroup">
      {{ supergroup.title() }}
    </div>
    <div ng-repeat="group in supergroup.children()" class="group">
      <div class="title-group">
        {{ group.title() }}
      </div>
      <div ng-repeat="level in group.children()" ng-click="levelSelect(level)" class="level">
        {{ level.title() }}
      </div>
      <div ng-click="levelSelect(group)" class="review-group">
        Review {{ group.title() }}
      </div>
    </div>
    <div ng-click="levelSelect(supergroup)" class="review-supergroup">
      Review {{ supergroup.title() }}
    </div>
  </div>
  <div class="supergroup">
    <div class="title-supergroup">{{ levels.root().title() }}</div>
    <div ng-click="levelSelect(levels.root())" class="review-supergroup">
      Review {{ levels.root().title() }}
    </div>
  </div>
</div>
