<style>
  .game-header {
    position: absolute;
    top: 0;
    height: 50px;
    left: 0;
    right: 0;
    border-bottom: 1px solid gray;
    font-size: 40px;
  }
  .game-footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    left: 0;
    right: 0;
    border-top: 1px solid gray;
  }
  .game-field {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
  }
  #path {
    position: absolute;
    left: 0;
  }
  #clock {
    position: absolute;
    right: 0;
  }
</style>
<div id="game-main" class="content-container">
  <div class="game-header">
    <div id="path" ng-class="{'no-display': path == null}">{{ path }}</div
    ><div id="clock" ng-class="{'no-display': !(running || finished)}">{{ clock }}</div>
  </div>
  <div id="game-container" class="game-field"></div>
  <div class="game-footer">
    <div ng-class="{'no-display': !finished}" ng-click="again()" class="nav-el">Again</div>
    <div ng-class="{'no-display': !(finished || paused)}" ng-click="go('/levels')" class="nav-el">Levels</div>
    <div ng-class="{'no-display': !(finished || paused)}" ng-click="go('/')" class="nav-el">Home</div>
  </div>
</div>
