<div>
  <style>
    #topbar {
      width: 100%;
      text-align: right;
    }
    ul#path {
      position: absolute;
      left: 0px;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  </style>
  <div id="topbar">
    <ul id="path">
      <li ng-repeat="item in $state.$current.path">
        <a ng-click="$state.go(item.name)" class="clickable">{{ simpleName(item.name) }}</a>
        <span ng-if="!$last">::</span>
      </li>
    </ul>
    {{ currentUser().name() }} :: <a ng-click="logout()" class="clickable">logout</a>
  </div>
  <div ui-view id="title-container" class="content-container">
    <div style="padding: 2em; font-size: 3em;">
      <p>EntroType: {{ currentUser().name() }}</p>
      <ul class="none">
        <a ui-sref="home.levels"><li>Learn</li></a>
        <a ui-sref="home.stats"><li>Stats</li></a>
      </ul>
    </div>
  </div>
</div>
