<style>
  .locked {
    color: gray;
  }
  .beaten {
    color: #005;
    font-weight: bold;
  }
  div .level {
    display: inline-block;
    padding: 8px 8px;
    margin: 3px;
    background-color: #ccf;
  }
  .supergroup {
    margin: 5px 0;
    background-color: #fdf;
    font-family: sans-serif;
  }
  .group {
    margin: 5px 0;
    background-color: #dde;
    font-family: sans-serif;
  }
  .title-supergroup {
    font-weight: bold;
    font-size: 20pt;
    text-align: left;
  }
  .title-group {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    color: gray;
    padding: 8px;
  }
  .review-group {
    display: inline-block;
    border: 1px solid gray;
    padding: 8px 8px;
    background-color: #ded;
  }
  .review-supergroup {
    text-align: left;
    border: 1px solid gray;
    padding: 8px 8px;
    background-color: #def;
  }
</style>
<div ng-repeat="supergroup in levels.root().children()" class="supergroup" ng-class="{locked: !isUnlocked(supergroup), beaten: isBeaten(supergroup)}">
  <div class="title-supergroup">
    {{ supergroup.title() }}
  </div>
  <div ng-repeat="group in supergroup.children()" class="group" ng-class="{locked: !isUnlocked(group), beaten: isBeaten(group)}">
    <div class="title-group">
      {{ group.title() }}
    </div>
    <div ng-repeat="level in group.children()" ng-click="levelSelect(level)" ng-class="{locked: !isUnlocked(level), beaten: isBeaten(level)}" class="level">
      {{ level.title() }}
    </div>
    <div ng-click="levelSelect(group)" class="review-group">
      {{ isBeaten(group) ? 'Review' : 'Test out' }}
    </div>
  </div>
  <div ng-click="levelSelect(supergroup)" class="review-supergroup">
    {{ isBeaten(supergroup) ? 'Review' : 'Test out of' }} {{ supergroup.title() }}
  </div>
</div>
<div class="supergroup">
  <div class="title-supergroup">{{ levels.root().title() }}</div>
  <div ng-click="levelSelect(levels.root())" class="review-supergroup">
    {{ isBeaten(levels.root()) ? 'Review' : 'Test out of' }} {{ levels.root().title() }}
  </div>
</div>
