<style>
  #create-account {
    text-align: right;
    font-weight: bold;
    padding: 5px 5px 5px 0px;
    margin: 0;
  }

  .deleter {
    font-size: 0.8em;
    margin: 4px;
  }

  .username {
    font-size: 2em;
    border: 1px solid gray;
    padding: 7px;
    margin: 1px;
  }
</style>
<div ui-view id="users-container" class="content-container">
  <div id="create-account">
    <a ui-sref="users.new">New User</a>
  </div>
  <table>
    <ul class="none">
      <li ng-repeat="name in usernames">
        <div class="clickable username" ng-click="selectUser(name)">{{name}}</div>
        <div class="clickable deleter" ng-click="removeUser(name)">(delete)</div>
      </li>
    </ul>
  </table>
</div>
